registry=https://theling-npm.pkg.coding.net/theling-utils/theling-web/
always-auth=true
//theling-npm.pkg.coding.net/theling-utils/theling-web/:username=theling-web-1602311873467
//theling-npm.pkg.coding.net/theling-utils/theling-web/:_password=YmRkYzg4MWIzYWRhOTEzZDBkN2Y4MTA1MDJmZmZhNDFjYmEzZDQ0NQ==
//theling-npm.pkg.coding.net/theling-utils/theling-web/:email=16008@theling.cn
